In [2]:
import pandas as pd
from nba_api.stats.endpoints import playercareerstats, commonplayerinfo, playerprofilev2
from nba_api.stats.static import players
from nba_api.stats.static import teams

In [4]:
df = pd.read_csv('all_players_v2.csv')

In [5]:
nba_players = [i for i in players.get_players() if i['is_active']==True]
teams_df = pd.DataFrame(teams.get_teams())
players_df = pd.DataFrame(nba_players)

In [68]:
latest_df.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,AST_per_game,REB_per_game,PTS_per_game
7,1627826,2021-22,0,1610612746,LAC,25.0,76,76,1852,310,...,644,120,36,77,114,203,785,1.578947,8.473684,10.328947
16,203469,2021-22,0,1610612757,POR,29.0,27,0,355,51,...,125,22,8,6,19,56,140,0.814815,4.629630,5.185185
17,1630209,2021-22,0,1610612748,MIA,24.0,56,12,706,130,...,294,49,17,20,41,84,299,0.875000,5.250000,5.339286
21,1629027,2021-22,0,1610612737,ATL,23.0,76,76,2652,711,...,284,737,72,7,303,128,2155,9.697368,3.736842,28.355263
38,201152,2021-22,0,1610612759,SAS,33.0,26,1,370,74,...,93,59,23,7,30,38,158,2.269231,3.576923,6.076923

In [8]:
latest_df = df[df['SEASON_ID'] == '2021-22']
latest_df['AST_per_game'] = latest_df['AST']/latest_df['GP']
latest_df['REB_per_game'] = latest_df['REB']/latest_df['GP']
latest_df['PTS_per_game'] = latest_df['PTS']/latest_df['GP']

C:\Users\gabri\AppData\Local\Temp\ipykernel_6404\3656711522.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  latest_df['AST_per_game'] = latest_df['AST']/latest_df['GP']
C:\Users\gabri\AppData\Local\Temp\ipykernel_6404\3656711522.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  latest_df['REB_per_game'] = latest_df['REB']/latest_df['GP']
C:\Users\gabri\AppData\Local\Temp\ipykernel_6404\3656711522.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  latest_df['PTS_per_game'] = latest_df['PTS']/latest_df['GP']

In [9]:
latest_df.tail()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,AST_per_game,REB_per_game,PTS_per_game
3492,200746,2021-22,0,1610612751,BKN,36.0,47,12,1050,252,...,258,42,14,47,44,78,607,0.893617,5.489362,12.914894
3493,1630583,2021-22,0,1610612763,MEM,21.0,32,0,360,53,...,87,21,6,10,16,36,132,0.656250,2.718750,4.125000
3498,1628389,2021-22,0,1610612748,MIA,24.0,56,56,1825,406,...,564,190,80,44,148,171,1068,3.392857,10.071429,19.071429
3507,203500,2021-22,0,1610612763,MEM,28.0,76,75,1999,210,...,760,256,65,60,115,153,528,3.368421,10.000000,6.947368
3509,1630173,2021-22,0,1610612761,TOR,22.0,73,28,1725,265,...,473,82,37,41,84,151,664,1.123288,6.479452,9.095890

In [70]:
ad_id = 203076
df_per_game = df.groupby(['PLAYER_ID','SEASON_ID','TEAM_ID'], as_index=False).agg({'PTS':'max',
                                                                                  'REB':'max',
                                                                                   'AST':'max',
                                                                                  'GP':'max',
                                                                                  'PLAYER_AGE':'max'})
df_per_game['PTS_PER_GAME'] = df_per_game['PTS']/df_per_game['GP']
df_per_game['REB_PER_GAME'] = df_per_game['REB']/df_per_game['GP']
df_per_game['AST_PER_GAME'] = df_per_game['AST']/df_per_game['GP']
df_per_game[df_per_game.PLAYER_ID==dwhite_id].tail()

,PLAYER_ID,SEASON_ID,TEAM_ID,PTS,REB,AST,GP,PLAYER_AGE,PTS_PER_GAME,REB_PER_GAME,AST_PER_GAME
2620,1628401,2019-20,1610612759,765,223,241,68,25.0,11.250000,3.279412,3.544118
2621,1628401,2020-21,1610612759,553,107,127,36,26.0,15.361111,2.972222,3.527778
2622,1628401,2021-22,0,992,261,366,75,27.0,13.226667,3.480000,4.880000
2623,1628401,2021-22,1610612738,286,88,92,26,27.0,11.000000,3.384615,3.538462
2624,1628401,2021-22,1610612759,706,173,274,49,27.0,14.408163,3.530612,5.591837

In [71]:
dwhite_id = 1628401
grouped = df_per_game.groupby(by=['PLAYER_ID','SEASON_ID','TEAM_ID'], as_index=False).agg({'PTS_PER_GAME':'mean',
                                             'AST_PER_GAME':'mean',
                                            'REB_PER_GAME':'mean',
                                            'PLAYER_AGE':'mean',
                                                      'GP':'sum'}).sort_values(
                        by=['SEASON_ID','TEAM_ID','GP'], ascending=[False,False, False])\
                    .drop_duplicates(subset=['PLAYER_ID','SEASON_ID'], keep='first')
grouped[grouped.PLAYER_ID==dwhite_id].head(10)

,PLAYER_ID,SEASON_ID,TEAM_ID,PTS_PER_GAME,AST_PER_GAME,REB_PER_GAME,PLAYER_AGE,GP
2624,1628401,2021-22,1610612759,14.408163,5.591837,3.530612,27.0,49
2621,1628401,2020-21,1610612759,15.361111,3.527778,2.972222,26.0,36
2620,1628401,2019-20,1610612759,11.250000,3.544118,3.279412,25.0,68
2619,1628401,2018-19,1610612759,9.895522,3.925373,3.686567,24.0,67
2618,1628401,2017-18,1610612759,3.176471,0.529412,1.529412,23.0,17

In [72]:
grouped = grouped.merge(players_df[['id','full_name']], left_on='PLAYER_ID',right_on='id')
grouped = grouped.merge(teams_df[['id','full_name']], left_on='TEAM_ID', right_on='id')
grouped.drop(columns=['id_x','id_y'], inplace=True)
grouped.rename(columns={'full_name_x':'full_name_player', 'full_name_y':'full_name_team'}, inplace=True)

In [73]:
grouped[grouped.PLAYER_ID==ariza_id].head(10)

,PLAYER_ID,SEASON_ID,TEAM_ID,PTS_PER_GAME,AST_PER_GAME,REB_PER_GAME,PLAYER_AGE,GP,full_name_player,full_name_team
363,2772,2018-19,1610612764,14.069767,3.837209,5.255814,33.0,43,Trevor Ariza,Washington Wizards
364,2772,2013-14,1610612764,14.376623,2.480519,6.168831,28.0,77,Trevor Ariza,Washington Wizards
365,2772,2012-13,1610612764,9.464286,2.017857,4.750000,28.0,56,Trevor Ariza,Washington Wizards
1308,2772,2007-08,1610612753,3.272727,0.727273,2.181818,23.0,11,Trevor Ariza,Orlando Magic
1309,2772,2006-07,1610612753,8.877193,1.140351,4.368421,21.0,57,Trevor Ariza,Orlando Magic
1310,2772,2005-06,1610612753,4.714286,0.714286,3.857143,20.0,21,Trevor Ariza,Orlando Magic
1509,2772,2021-22,1610612747,4.000000,1.125000,3.416667,36.0,24,Trevor Ariza,Los Angeles Lakers
1510,2772,2008-09,1610612747,8.890244,1.768293,4.292683,24.0,82,Trevor Ariza,Los Angeles Lakers
1668,2772,2017-18,1610612745,11.671642,1.567164,4.388060,33.0,67,Trevor Ariza,Houston Rockets
1669,2772,2016-17,1610612745,11.700000,2.187500,5.725000,32.0,80,Trevor Ariza,Houston Rockets

In [74]:
eligible_seasons = ['2017-18','2018-19','2019-20','2020-21','2021-22']
clean_grouped = grouped[grouped.SEASON_ID.isin(eligible_seasons)]
clean_grouped.SEASON_ID.unique()

array(['2021-22', '2020-21', '2019-20', '2018-19', '2017-18'],
      dtype=object)

In [75]:
clean_grouped.to_csv('../db/initial_migration/players_2016_until_2022.csv', index=False)

In [76]:
ariza_id=2772
clean_grouped[clean_grouped.PLAYER_ID==ariza_id]

,PLAYER_ID,SEASON_ID,TEAM_ID,PTS_PER_GAME,AST_PER_GAME,REB_PER_GAME,PLAYER_AGE,GP,full_name_player,full_name_team
363,2772,2018-19,1610612764,14.069767,3.837209,5.255814,33.0,43,Trevor Ariza,Washington Wizards
1509,2772,2021-22,1610612747,4.000000,1.125000,3.416667,36.0,24,Trevor Ariza,Los Angeles Lakers
1668,2772,2017-18,1610612745,11.671642,1.567164,4.388060,33.0,67,Trevor Ariza,Houston Rockets
1790,2772,2019-20,1610612758,6.000000,1.562500,4.562500,35.0,32,Trevor Ariza,Sacramento Kings
2284,2772,2020-21,1610612748,9.400000,1.833333,4.800000,36.0,30,Trevor Ariza,Miami Heat

In [66]:
clean_grouped.iloc[0].SEASON_ID[:4]

'2021'